# **Pandas**

## What is Pandas?

Pandas is a Python library <ins>used for data manipulation and analysis</ins>, providing data structures like DataFrames that allow for easy handling of structured data such as tables.


## Why Pandas?

- Simple to use
- Integrated with many other data science & ML Python tools such as NumPy, Matplotlib, Scikit-learn, TensorFlow, and Seaborn etc.
- Helps to prepare data for machine learning.


## What is Raw Data?

Raw data refers to <ins>unprocessed or unrefined data</ins> collected (just gathered data) from various sources, which hasn't been cleaned, organized, or analyzed yet.

<br/>

In [1]:
import pandas as pd

## 01 - Main DataTypes

1. Series (1-dimensional)
2. DataFrames (2-dimensional)

In [4]:
series = pd.Series(["BMW", "Toyota", "Honda"])
series

0       BMW
1    Toyota
2     Honda
dtype: object

<br/>

In [6]:
car_data = pd.DataFrame({"Car make": series, "Colour": ["Red", "Blue", "White"]})
car_data

  Car make Colour
0      BMW    Red
1   Toyota   Blue
2    Honda  White

<br/>

## 02 - Pandas for imported data

In [7]:
# Import Data
car_sales_df = pd.read_csv('car-sales.csv');
car_sales_df

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

<br/>

## 03 - Exporting a dataframe

In [9]:
car_sales_df.to_csv("exported-car-sales.csv")

In [13]:
exported_car_sales_df = pd.read_csv("exported-car-sales.csv")
exported_car_sales_df[:5]

   Unnamed: 0    Make Colour  Odometer (KM)  Doors       Price
0           0  Toyota  White         150043      4   $4,000.00
1           1   Honda    Red          87899      4   $5,000.00
2           2  Toyota   Blue          32549      3   $7,000.00
3           3     BMW  Black          11179      5  $22,000.00
4           4  Nissan  White         213095      4   $3,500.00

> In above dataframe, there is a undefined column named "Unnamed:0", that column known as 'index' column. It should be remove when exporting a dataframe to a CSV file

In [14]:
# Removing 'index' column when exporting a CSV file
car_sales_df.to_csv("exported-car-sales.csv", index=False)

In [15]:
exported_car_sales_df = pd.read_csv("exported-car-sales.csv")
exported_car_sales_df[:5]

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00

<br/>

## 04 - Describe Data

There are bunch of attributes & methods(functions) in pandas to describe data.

 - Example for an attribute: **car_sales.dtypes**
 - Example for a method: **car_sales.describe()**

In [16]:
car_sales_df.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price            object
dtype: object

<br/>

In [17]:
car_sales_df.columns

Index(['Make', 'Colour', 'Odometer (KM)', 'Doors', 'Price'], dtype='object')

<br/>

In [19]:
car_sales_df.index

RangeIndex(start=0, stop=10, step=1)

<br/><br/>

In [20]:
car_sales_df.describe()

       Odometer (KM)      Doors
count      10.000000  10.000000
mean    78601.400000   4.000000
std     61983.471735   0.471405
min     11179.000000   3.000000
25%     35836.250000   4.000000
50%     57369.000000   4.000000
75%     96384.500000   4.000000
max    213095.000000   5.000000

<br/>

In [22]:
car_sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Make           10 non-null     object
 1   Colour         10 non-null     object
 2   Odometer (KM)  10 non-null     int64
 3   Doors          10 non-null     int64
 4   Price          10 non-null     object
dtypes: int64(2), object(3)
memory usage: 532.0+ bytes

<br/>

In [35]:
# 'numeric_only' argument skips other types of columns & only choose numeric columns
# Note that: mean() method only works for numerical columns
car_sales_df.mean(numeric_only=True)

Odometer (KM)    78601.4
Doors                4.0
dtype: float64

<br/>

In [36]:
car_prices = pd.Series([3000, 1500, 12150])
car_prices.mean()

5550.0

<br/>

In [37]:
car_sales_df.sum()

Make             ToyotaHondaToyotaBMWNissanToyotaHondaHondaToyo...
Colour               WhiteRedBlueBlackWhiteGreenBlueBlueWhiteWhite
Odometer (KM)                                               786014
Doors                                                           40
Price            $4,000.00$5,000.00$7,000.00$22,000.00$3,500.00...
dtype: object

In [38]:
car_sales_df["Doors"].sum()

40

<br/>

In [39]:
len(car_sales_df)

10